<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SeleniumAdvancedTutorial">
        <classes>
           <!-- <class name="testcase.loginTest"/>-->
            <class name="testcase.filterByPriceTest"/>
          <!--  <class name="testcase.productDescriptionTest"/>-->
            <class name="testcase.addItemToCartTest"/>

        </classes>
    </test>
</suite>